In [2]:
import requests
import pandas as pd
import re
import time
from config import api_key,api_id, username, password
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, Float, String, DateTime, BIGINT
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy import UniqueConstraint, ForeignKey
from sqlalchemy.orm import relationship
import numpy as np
import psycopg2

In [25]:
# remove html tags in the text
def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    return cleantext

In [26]:
# Get jobs extracted from the API
def getJobJsonResponse(country,State,keyword,page):
    url = f'https://api.adzuna.com/v1/api/jobs/au/search/{page}?app_id={api_id}&app_key={api_key}&title_only={keyword}&location0={country}&location1={State}'
    headers = {'Content-type': 'application/json'}
    time.sleep(0.25)
    resp = requests.get(url, headers=headers).json()  
    return resp

In [10]:

#  Define states dataframe
dfState = pd.DataFrame({'id': [1, 2, 3, 4, 5, 6, 7], 
                        'state': ['Victoria','New South Wales', 'Queensland', 'Western Australia','South Australia','Australian Capital Territory','Northern Territory']})

In [28]:
searchList = [{'country':'Australia','state'  : 'Victoria','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'Victoria','keyword': 'Insights Analyst'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'New South Wales','keyword': 'Insights Analyst'},              
              {'country':'Australia','state'  : 'Queensland','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'Queensland','keyword': 'Insights Analyst'},               
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'Western Australia','keyword': 'Insights Analyst'},               
              {'country':'Australia','state'  : 'South Australia','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Data  Analytics'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'South Australia','keyword': 'Insights Analyst'},                
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'Australian Capital Territory','keyword': 'Insights Analyst'},                
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Data Analyst'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Data Scientist'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Data Engineer'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Data Architect'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Business Analyst'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Data Analytics'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Big Data'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Project Manager'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Project Analyst'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Analyst'},
              {'country':'Australia','state'  : 'Northern Territory','keyword': 'Insights Analyst'}               
             ]
jobList = []
for search in searchList:     
    page = 1    
    resp = getJobJsonResponse(search['country'],search['state'],search['keyword'],page)
    results_count = resp['count']
    loop_count = 10
    print(f'Extracting on state {search["state"]} keyword {search["keyword"]} with results {results_count}')
    while loop_count < results_count:
        for item in resp['results']:
            job = {}
            job['keyword'] = search["keyword"]
            job['state'] = search["state"]
            if 'id' in item:  
                job['id'] =  item['id']  
            else:
                job['id'] = ''       
            if 'company' in item: 
                if 'display_name' in item['company']:
                    job['company'] = item['company']['display_name']
                else:
                    job['company'] = ''
            else:
                job['company'] = ''
            if 'contract_time' in item:  
                job['contract_time'] =  item['contract_time']   
            else:
                job['contract_time'] = ''     
            if 'contract_type' in item:  
                job['contract_type'] =  item['contract_type']   
            else:
                job['contract_type'] = ''         
            if 'latitude' in item:  
                job['latitude'] =  item['latitude']
            else:
                job['latitude'] = ''         
            if 'longitude' in item:  
                job['longitude'] =  item['longitude']
            else:
                job['longitude'] = '' 
            if 'location' in item: 
                if 'area' in item['location']:
                    job['area'] = item['location']['area']
                else:
                    job['area'] = ''                  
            if 'redirect_url' in item:  
                job['redirect_url'] =  item['redirect_url']
            else:
                job['redirect_url'] = ''          
            if 'created' in item:  
                job['created'] =  item['created']
            else:
                job['created'] = ''          
            if 'title' in item:  
                job['title'] =  cleanhtml(item['title'])   
            else:
                job['title'] = ''    
            if 'salary_min' in item:  
                job['salary_min'] =  item['salary_min']   
            else:
                job['salary_min'] = 0  
            if 'salary_max' in item:  
                job['salary_max'] =  item['salary_max']   
            else:
                job['salary_max'] = 0  
            if 'description' in item:  
                job['description'] =  item['description']  
            else:
                job['description'] = ''                  

            jobList.append(job)
            loop_count = loop_count + 1

        page = page + 1        
        resp = getJobJsonResponse(search['country'],search['state'],search['keyword'],page)        
    
df = pd.DataFrame.from_dict(jobList)

Extracting on state Victoria keyword Data Analyst with results 48
Extracting on state Victoria keyword Data Scientist with results 18
Extracting on state Victoria keyword Data Engineer with results 55
Extracting on state Victoria keyword Data Architect with results 10
Extracting on state Victoria keyword Business Analyst with results 104
Extracting on state Victoria keyword Data Analytics with results 14
Extracting on state Victoria keyword Big Data with results 0
Extracting on state Victoria keyword Project Manager with results 263
Extracting on state Victoria keyword Project Analyst with results 9
Extracting on state Victoria keyword Analyst with results 429
Extracting on state Victoria keyword Insights Analyst with results 5
Extracting on state New South Wales keyword Data Analyst with results 102
Extracting on state New South Wales keyword Data Scientist with results 34
Extracting on state New South Wales keyword Data Engineer with results 83
Extracting on state New South Wales keyword Data Architect with results 5
Extracting on state New South Wales keyword Business Analyst with results 346
Extracting on state New South Wales keyword Data Analytics with results 37
Extracting on state New South Wales keyword Big Data with results 16
Extracting on state New South Wales keyword Project Manager with results 404
Extracting on state New South Wales keyword Project Analyst with results 12
Extracting on state New South Wales keyword Analyst with results 963
Extracting on state New South Wales keyword Insights Analyst with results 11
Extracting on state Queensland keyword Data Analyst with results 22
Extracting on state Queensland keyword Data Scientist with results 0
Extracting on state Queensland keyword Data Engineer with results 23
Extracting on state Queensland keyword Data Architect with results 6
Extracting on state Queensland keyword Business Analyst with results 48
Extracting on state Queensland keyword Data Analytics with results 3
Extracting on state Queensland keyword Big Data with results 0
Extracting on state Queensland keyword Project Manager with results 92
Extracting on state Queensland keyword Project Analyst with results 0
Extracting on state Queensland keyword Analyst with results 156
Extracting on state Queensland keyword Insights Analyst with results 1
Extracting on state Western Australia keyword Data Analyst with results 9
Extracting on state Western Australia keyword Data Scientist with results 2
Extracting on state Western Australia keyword Data Engineer with results 4
Extracting on state Western Australia keyword Data Architect with results 2
Extracting on state Western Australia keyword Business Analyst with results 25
Extracting on state Western Australia keyword Data Analytics with results 6
Extracting on state Western Australia keyword Big Data with results 0
Extracting on state Western Australia keyword Project Manager with results 68
Extracting on state Western Australia keyword Project Analyst with results 3
Extracting on state Western Australia keyword Analyst with results 76
Extracting on state Western Australia keyword Insights Analyst with results 0
Extracting on state South Australia keyword Data Analyst with results 3
Extracting on state South Australia keyword Data Scientist with results 7
Extracting on state South Australia keyword Data Engineer with results 2
Extracting on state South Australia keyword Data Architect with results 1
Extracting on state South Australia keyword Business Analyst with results 16
Extracting on state South Australia keyword Data  Analytics with results 0
Extracting on state South Australia keyword Big Data with results 0
Extracting on state South Australia keyword Project Manager with results 40
Extracting on state South Australia keyword Project Analyst with results 1
Extracting on state South Australia keyword Analyst with results 47
Extracting on state South Australia keyword Insights Analyst with results 0
Extracting on state Australian Capital Territory keyword Data Analyst with results 37
Extracting on state Australian Capital Territory keyword Data Scientist with results 12
Extracting on state Australian Capital Territory keyword Data Engineer with results 7
Extracting on state Australian Capital Territory keyword Data Architect with results 2
Extracting on state Australian Capital Territory keyword Business Analyst with results 48
Extracting on state Australian Capital Territory keyword Data Analytics with results 12
Extracting on state Australian Capital Territory keyword Big Data with results 1
Extracting on state Australian Capital Territory keyword Project Manager with results 101
Extracting on state Australian Capital Territory keyword Project Analyst with results 0
Extracting on state Australian Capital Territory keyword Analyst with results 142
Extracting on state Australian Capital Territory keyword Insights Analyst with results 1
Extracting on state Northern Territory keyword Data Analyst with results 2
Extracting on state Northern Territory keyword Data Scientist with results 0
Extracting on state Northern Territory keyword Data Engineer with results 0
Extracting on state Northern Territory keyword Data Architect with results 0
Extracting on state Northern Territory keyword Business Analyst with results 5
Extracting on state Northern Territory keyword Data Analytics with results 0
Extracting on state Northern Territory keyword Big Data with results 0
Extracting on state Northern Territory keyword Project Manager with results 16
Extracting on state Northern Territory keyword Project Analyst with results 1
Extracting on state Northern Territory keyword Analyst with results 16
Extracting on state Northern Territory keyword Insights Analyst with results 0

In [29]:
df.to_csv("jobs.csv")

In [6]:
df = pd.read_csv('jobs.csv') 
df.head()

,Unnamed: 0,keyword,state,id,company,contract_time,contract_type,latitude,longitude,area,redirect_url,created,title,salary_min,salary_max,description
0,0,Data Analyst,Victoria,1700216380,Finite Recruitment,full_time,NaN,-37.094406,144.352833,"['Australia', 'Victoria']",https://www.adzuna.com.au/land/ad/1700216380?s...,2020-09-12T07:34:22Z,Data Analyst,0,0,Our Client Due to growth our client has an opp...
1,1,Data Analyst,Victoria,1696106373,Peoplebank,full_time,NaN,-37.814563,144.970267,"['Australia', 'Victoria', 'Melbourne Region', ...",https://www.adzuna.com.au/land/ad/1696106373?s...,2020-09-10T15:56:11Z,Data Analyst,0,0,Our Client: Our client is a key player in the ...
2,2,Data Analyst,Victoria,1684185804,Natural Selection Group,full_time,NaN,-37.094406,144.352833,"['Australia', 'Victoria']",https://www.adzuna.com.au/land/ad/1684185804?s...,2020-09-03T07:00:33Z,SAP Data Analyst,0,0,Project environment Leader in their industry W...
3,3,Data Analyst,Victoria,1684187746,Talent International,full_time,NaN,-37.837324,144.976335,"['Australia', 'Victoria', 'Melbourne Region', ...",https://www.adzuna.com.au/land/ad/1684187746?s...,2020-09-03T07:00:42Z,Business Data Analyst,100000,130000,Our client is seeking an IT professional with ...
4,4,Data Analyst,Victoria,1718324716,Careerone Partner Network,full_time,NaN,-37.837324,144.976335,"['Australia', 'Victoria', 'Melbourne Region', ...",https://www.adzuna.com.au/land/ad/1718324716?s...,2020-09-22T16:34:16Z,Multiple Data Analyst,0,0,Multiple Data Analysts VIC - Other Contract Po...

In [7]:
df = df.drop_duplicates(subset='id', keep="first")

In [8]:
# Extract historical data
def getHistoricalDataJsonResponse(state,category):
    url = f'http://api.adzuna.com/v1/api/jobs/au/history?app_id={api_id}&app_key={api_key}&location0=Australia&location1={state}&category={category}&content-type=application/json'
    headers = {'Content-type': 'application/json'}
    resp = requests.get(url, headers=headers).json()  
    return resp

In [11]:
dfHist = pd.DataFrame()
for index, row in dfState.iterrows():
    resp = getHistoricalDataJsonResponse(row['state'],'it-jobs')
    histDic = resp['month']
    dfTemp = pd.DataFrame(histDic.items(),columns=['month', 'salary'])
    dfTemp['state'] = row['state'] 
    dfTemp['category'] = 'it-jobs' 
    dfHist = dfHist.append(dfTemp)

dfHist = dfHist.sort_values(by=['state','month'])    
dfHist['id'] = np.arange(1, len(dfHist)+1)
dfHist = pd.merge(dfHist, dfState, on='state', how='inner', suffixes=('', '_state'))
dfHist = dfHist.rename(columns = {'id_state' : 'state_id'}, inplace = False)

In [12]:
def get_area(area): 

    return ','.join(area)

In [13]:
dfKeyword = pd.DataFrame(df.keyword.unique(), columns=['keyword'])
dfKeyword['id'] = np.arange(1, len(dfKeyword)+1)
dfKeyword['keyword']= dfKeyword['keyword'].astype("string")

dfJobs = pd.merge(df, dfKeyword, on='keyword', how='inner', suffixes=('', '_keyword'))
dfJobs = pd.merge(dfJobs, dfState, on='state', how='inner', suffixes=('', '_state'))
dfJobs = dfJobs[['id','company','contract_time','contract_type','latitude','longitude','area','redirect_url','created','title','salary_min','salary_max','description','id_keyword','id_state']]

# transfor area
dfJobs['area'] = dfJobs.apply (lambda row: get_area(row['area']), axis=1)
dfJobs = dfJobs.rename(columns = {'id_keyword': 'keyword_id', 'id_state' : 'state_id'}, inplace = False)

dfJobs['salary_min'] = dfJobs['salary_min'].astype('int32')
dfJobs['salary_max'] = dfJobs['salary_max'].astype('int32')
dfJobs['state_id']   = dfJobs['state_id'].astype('int32')

In [27]:
# Loading benchmark data
dfBench = pd.read_csv('Benchmark.csv') 
dfBench = dfBench.replace(np.nan, '', regex=True)
dfBench['keyword'].astype(str)
dfBench.dtypes

source           object
job_role         object
country          object
state            object
contract_type    object
min_sal           int64
max_sal           int64
median            int64
keyword          object
dtype: object

In [23]:
dfBench.head()

,Source,Job_Role,Country,State,Contract_Type,Min_Sal,Max_Sal,Median,Keyword
0,Robert Walters,ERP/CRM/BI Architect,Australia,New South Wales,permanent,150000,210000,180000,Data Architect
1,Robert Walters,ERP/CRM/BI Project Manager,Australia,New South Wales,permanent,160000,210000,185000,Project Manager
2,Robert Walters,ERP/CRM Functional Consultant,Australia,New South Wales,permanent,140000,180000,160000,
3,Robert Walters,Data Architect,Australia,New South Wales,permanent,150000,200000,175000,Data Architect
4,Robert Walters,BI Architect,Australia,New South Wales,permanent,150000,200000,175000,Data Architect

In [20]:

dfBench = pd.merge(dfBench, dfKeyword, on='keyword', how='left outter', suffixes=('', '_keyword'))
dfBench.head()

KeyError: 'keyword'

In [36]:
Base = declarative_base()
# dbcon = f"postgresql://{username}:{password}@127.0.0.1/JobsDB"
dbcon = 'postgres://ysqwcnrjntyvjc:c7e71592a7c9a053590651c302280c2b412d4b74e0e4586509ae1225263c8bb1@ec2-52-202-146-43.compute-1.amazonaws.com:5432/ddsdnqnr3nb2ll'
Engine = create_engine(dbcon)

class Keyword(Base):
    __tablename__ = 'keyword'
    __table_args__ = (UniqueConstraint('id'),)    
    id = Column(Integer, primary_key=True)
    keyword = Column(String, nullable=False)
    
class State(Base):
    __tablename__ = 'state'
    __table_args__ = (UniqueConstraint('id'),)    
    id = Column(Integer, primary_key=True)
    state = Column(String, nullable=False)   
    
class HistoricalSalary(Base):
    __tablename__ = 'historical_salary'
    __table_args__ = (UniqueConstraint('id'),)    
    id = Column(Integer, primary_key=True)
    state_id = Column(Integer, ForeignKey('state.id'), nullable=False)      
    category = Column(String, nullable=False)
    month = Column(String, nullable=False)
    salary = Column(Float, nullable=False)
      
    
class Jobs(Base):
    __tablename__ = 'jobs'
    __table_args__ = (UniqueConstraint('id'),)
    id = Column(BIGINT, primary_key=True)
    company = Column(String, nullable=True)
    contract_time = Column(String, nullable=True)
    contract_type = Column(String, nullable=True)
    latitude = Column(String, nullable=True)
    longitude = Column(String, nullable=True)
    area = Column(String, nullable=True)
    redirect_url = Column(String, nullable=True)
    created = Column(DateTime, nullable=True)
    title = Column(String, nullable=True)
    salary_min = Column(Integer, nullable=True)
    salary_max = Column(Integer, nullable=True)
    keyword_id = Column(Integer, ForeignKey('keyword.id'), nullable=False)  
    state_id = Column(Integer, ForeignKey('state.id'), nullable=False) 
    description = Column(String, nullable=True)
Base.metadata.drop_all(Engine)
Base.metadata.create_all(Engine)

with Engine.connect() as dbcon:
    with dbcon.begin() as dbtrans:
        dbcon.execute(Keyword.__table__.insert(), dfKeyword.to_dict(orient='records'))
        dbcon.execute(State.__table__.insert(), dfState.to_dict(orient='records'))
        dbcon.execute(HistoricalSalary.__table__.insert(), dfHist.to_dict(orient='records'))
        dbcon.execute(Jobs.__table__.insert(), dfJobs.to_dict(orient='records'))
        dbtrans.commit()